ul{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    height: 20px
}

.topo{
    background-image: url(https://st2.depositphotos.com/4006379/11627/v/950/depositphotos_116279004-stock-illustration-cute-lovely-cartoon-pink-and.jpg);
    text-align: center;
    height: 145px

        
}

li{
    
    font-family: verdana;
    margin-right: 20px;
    float: right;
    display: block

}
.linea{
    background-color: black;
    height: 4px;
}
li a{
    color: black;
    text-align: center;
    padding: 15px 16px;
    display: block;
    text-decoration: none;
}
li a:hover{
    color: #66224B
}

h2{
    background-color: #F9D4EA;
    height: 30px;
    text-align: center;
    font-family: arial
  
}
.buscar{
    text-align: right;
    margin-top: 0px;
    background-color: #F9D4EA;
    
}


*{box-sizing:border-box}

slideshow-container{
 position:relative;
 margin:auto;

}

.mySlides{
 display:none;
}

.prev, .next{
 cursor:pointer;
 position:absolute;
 top:25%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:white;
 font-weight:bold;
 font-size:18px;
 transition:2s ease;
 border-radius:0 3px 3px 0;
}

.next{
 right:0;
 border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
 background-color:rgba(0,0,0,0.8);
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
} 

*{
    padding:0;
    margin:0;

}

video{
    width:100%;
    height:100%;
    position:absolute;
    object-fit:cover;
    transition: all 1.2s linear;
    z-index: -10;
}

.video1{
    opacity:1;
}
.video2{
    opacity:0;
}
.video3{
    opacity:0;
}

.imagenes{
    opacity:0;
    transition:opacity 2s;
    width:100%;
    height:100%;
    position:absolute;
    object-fit:cover;
    z-index: -10;
}

.container {
    width:100%;
    height:100%;
}