body {
   background-image: url(../img/fondo.jpg);;
    margin:0px;
    font-family: verdana;
    
    padding: 0;
    background-color: #ccc;
    background-size: cover;
    height: 100px;
  
}
h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
}
.login {
    margin:0 auto;
    max-width:500px;
}
.login-header {
    color:#fff;
    text-align:center;
    font-size:300%;
}
/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */

.login-form {
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}
.login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
}
.login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}
.login-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
    margin-bottom: 10px;
}
.sign-up{
    color:#f2f2f2;
    margin-left: 0px;
    cursor:pointer;
    text-decoration:underline;
}
.no-access {
    color:#E86850;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;

}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
        text-align:center;
        margin:0;
    }
    .sign-up, .no-access {
        margin:10px 0;
    }
    .login-button {
        margin-bottom:10px;
    }


.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;

}