*{margin:0;padding:0;box-sizing:border-box;font-size:0;}  
body{
    background-color: white
}
nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
  
      }
   
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align: center;
      color:#fff;
      position:relative;
    
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}

#home{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    background-color: #DFE1E3;
    float: right;
    
  
}

.last{
    clear: left;
}

.row{
    display: flex;
  
}
.row-adm{
    display: flex;
    padding-top:150px;
    padding-left: 70px;
    
}

.coleditar{
    padding: 40px
}

.contenido{
    margin-left: 8%
}
.colvideos{
    padding: 20px;
}

.iconos{
    font-size: 220px;
    margin:40px;
    color: black;
}
a{
    text-decoration: none;
 
    
}
 .icon-images:before {
  content: "\e9bc";
}
.icon-video:before {
  content: "\ea39";
}
.icon-bar-graph:before {
  content: "\e96a";
}
input{
    width: 80px;
    height: 30px;
    padding: 5px 6px;
    margin-right: 6px;
    display: flex;
    
   
   
}
input[type = "radio"]{ display:none;
}

.videos{
    width: 25%;
    
    
}

#grafico{
    width: 500px !important;
    height: 400px !important;
}

